# We're pinning our tooling, because it's an environment we can strictly control.
# We're not pinning package dependencies, because our tests need to pass with the
# latest version of the packages.

--prefer-binary

# Dependencies
polars
pyarrow

# Tooling
maturin
mypy
ruff
pytest
pytest-cov

# Stub files
